/* main */

:root {
    --header-primary: #fff;
    --header-secondary: #b9bbbe;
    --text-normal: white;
    --text-muted: #b2b5b8;
    --text-link: #e8a9e7;
    --channels-default: #acaeb0;
    --interactive-normal: #ffff;
    --interactive-hover: #dcddde;
    --interactive-active: #fff;
    --interactive-muted: #838485;
    --background-primary: #2a2438;
    --background-primary-alt: #221d2e;
    --background-secondary: #352f44;
    --background-tertiary: #5c5470;
    --background-accent: #524a66;
    --background-floating: #5c5470;
    --background-modifier-hover: rgba(79, 84, 92, 0.16);
    --background-modifier-active: rgba(79, 84, 92, 0.24);
    --background-modifier-selected: rgba(79, 84, 92, 0.32);
    --background-modifier-accent: hsla(0, 0%, 100%, 0.06);
    --elevation-high: 0 8px 16px rgba(0, 0, 0, 0.24);
    --guild-header-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    --channeltextarea-background: #40444b;
    --scrollbar-auto-thumb: #5c5470;
    --scrollbar-auto-track: #352f44;
}


/* color fixes */


.inspector-S2gM3e, .inspector-3LQtX9,.theme-dark .bar-2Qqk5Z  {
  background-color: var(--background-tertiary)
}

.content-1LAB8Z, .thin-1ybCId, .header-1TKi98, .headerContainer-3N-yWX, .container-OI6I9q, .auto-Ge5KZx {
  background-color: var(--background-primary)
}

.theme-dark .footer-2gL1pp{
  background-color: var(--background-secondary);
}

.theme-dark .uploadModal-2ifh8j {
  background-color: var(--background-primary);
}

.uploadModal-2ifh8j, .footer-3mqk7D.hasSpoilers-1IRtQC {
  background-color: var(--background-secondary);
}

.theme-dark .root-1gCeng {
  background-color: var(--background-primary)
}

/* text bar */
.scrollableContainer-2NUZem {
 background-color: #39304d;
}

/* colored speak ring thing by Bowser65#0001 */
.avatarSpeaking-2IGMRN {
  -webkit-box-shadow: inset 0 0 0 2px #F7B97F,inset 0 0 0 3px var(--background-secondary);
  box-shadow: inset 0 0 0 2px #F7B97F,inset 0 0 0 3px var(--background-secondary);
}

/* commands/emoji selector */
.autocompleteRowVertical-q1K4ky, .autocompleteRow-2OthDa {
  background-color: var(--background-primary-alt)
}
.autocompleteInner-zh20B_ {
  background-color: var(--background-primary-alt)
}


/* user cards */
.headerNormal-T_seeN, .header-2bNvm4, .headerPlaying-j0WQBV, .headerStreaming-2FjmGz, .headerSpotify-zpWxgT { background-color: var(--background-primary-alt) !important;}
.body-3iLsc4, .footer-1fjuF6, .fade-2kXiP2 { background-color: var(--background-secondary) !important;}
.activityUserPopout-2yItg2 { border-radius: 15px; margin:0 4px 4px 4px; padding: 10px;}
.headerPlaying-j0WQBV .activityUserPopout-2yItg2 { background-color: #181521;}
.headerSpotify-zpWxgT .activityUserPopout-2yItg2 { background-color: #1DB954;}
.headerStreaming-2FjmGz .activityUserPopout-2yItg2 { background-color: #181521;}
.body-Ogsp8i { background-color: var(--background-primary-alt) !important;}

/* friend list color */
.peopleList-3c4jOR {
  background-color: var(--background-primary);
}

.section-2gLsgF {
  background-color: var(--background-primary-alt)
}

/* hide discord watermark */
.wordmark-2iDDfm {
  display: none;
}

/* spotify + profile */
.container-3baos1 {
  background-color: #2e283b
}

.spotify-seek-elements {
  background-color: #2e283b
}

.powercord-spotify {
  background-color: #2e283b
}

/* stream related color fixes */
.container-1giJp5 {
  background-color: #2e283b
}

.panel-24C3ux {
  background-color: #2e283b
}

/* badges animation */
.profileBadge-2niAfJ {
    transition: 0.2s;
}
.profileBadge-2niAfJ:hover {
    transform: translateY(-3px);
}

/* monki emoji picker */
.sprite-2iCowe {
  background-image: url(https://cdn.discordapp.com/attachments/730517028347314288/775830344410726410/sinje.png);
  background-position: 0px 1px !important;
}

/* hide nitro gift button */
.button-38aScr[aria-label='Send a gift'] {
  display: none;
}

/* hides not seeing controls spotify icon */
.powercord-spotify .flex-1xMQg5{
  display: none;
}

.circleIcon-LvPL6c, .circleIconButton-jET_ig {
  color: #877ca3;
}

.homeIcon-tEMBK1  {
  color: #e8cfe4
}

.selected-ugP_am[aria-label='Add a Server'] {
 color: #e8cfe4
}
